h2{
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 20px;
}

#map{
  height: 90vh;;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1020;
}

p{
  font-weight: lighter;
  font-size: 10px
}

.card{
  padding: 13px;
  margin: 16px;
}

#show-link{
  font-size: 10px;
  margin-left: 16px;
  color: #a87ff5;
  margin-bottom: 16px;
}

.comm-box{
  overflow: hidden;
  height: 0px;
  font-family: 'Press Start 2P' !important;
  border-top: 16px;
  background-color: #fff;
  background-clip: border-box;
  border: 0px 1px 1px 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.comment{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-left: 16px;
  line-height: 6px;
  padding: 16px 16px;
  &:hover{
    background-color: #eee4ff;
  }
}

.comment-content{
  padding-left: 16px;
  line-height: 8px
}

.show-pic{
  max-width: 500px;
}

@media screen and (max-width: 480px) {
  .show-pic {
      max-width: 100%; 
      height: auto;
       padding: 0px 16px;
  }
}

.simple_form {
  font-family: 'Press Start 2P' !important;
  font-size: 10px;
}

.form-control{
  font-size: 10px;
}

.send{
  color: white;
  font-size: 10px;
  background-color: #a87ff5;
  &:hover{
    background-color: #8449f2; 
    color: white;
  }
}

.cancel{
  color: white;
  font-size: 9px;
  background-color: #FD1015;
  &:hover{
    background-color: #c41417; 
    color: white;
  }
}
