h2{
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 20px;
}

#map{
  height: 90vh;;
  width: 100%;
  background-color: white;
}

p{
  font-weight: lighter;
  font-size: 10px
}

.card{
  padding: 13px;
  margin: 16px;
}

#show-link{
  font-size: 10px;
  margin-left: 16px;
  color: #a87ff5;
}

.comm-box{
  overflow: hidden;
  height: 0px;
}

.comment{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-left: 16px;
  line-height: 6px;
  padding: 16px 16px;
  &:hover{
    background-color: #f0eeee;
  }
}

.comment-content{
  padding-left: 16px;
  line-height: 8px
}