h2{
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 20px;
}

#map{
  height: 90vh;;
  width: 100%;
  background-color: white;
}

p{
  font-weight: lighter;
  font-size: 10px
}

.card{
  padding: 13px;
  margin: 16px;
}