.footer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 0px 50px;
    color: rgb(166, 34, 193);
  }
  .footer-links {
    display: flex;
    align-items: baseline;
  }
  .footer-links a {
    color: rgb(166, 34, 193);
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }