// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

#map{
  height: 90vh;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1020;
}
