.polaroid a {
    background: #ffffff;
    font-family: 'Press Start 2P';
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 5px 30px;
    text-align: center;
    text-decoration: none;
  }
  .polaroid a:after {
    color: #333;
    font-size: 10px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid img {
    display: block;
    width: 250px;
  }
  .polaroid a:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .polaroidnew{
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    height: 100%;
    width: 280px;
    padding: 16px;
    p{
      text-decoration: none;
      font-weight: lighter;
      color: black;
    }
    &:hover{
      color: black;
      text-decoration: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    img {
      display: block;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
    .pol-title{
      
    }
  }
a{
  p{
    text-decoration: none;
  }
}